In [2]:
import os
os.chdir("D:/Datasets/zs2")
os.listdir()

['sample_submission.csv', 'test.csv', 'train.csv', 'tweet.csv']

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('train.csv')
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,name,retweet_count,text,tweet_created,tweet_location,user_timezone
0,Tr_tweet_1,neutral,1.0000,NaN,NaN,Virgin America,cairdin,0.0,@VirginAmerica What @dhepburn said.,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,Tr_tweet_2,positive,0.3486,NaN,0.0000,Virgin America,jnardino,0.0,@VirginAmerica plus you've added commercials t...,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,Tr_tweet_3,neutral,0.6837,NaN,NaN,Virgin America,yvonnalynn,0.0,@VirginAmerica I didn't today... Must mean I n...,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,Tr_tweet_4,negative,1.0000,Bad Flight,0.7033,Virgin America,jnardino,0.0,@VirginAmerica it's really aggressive to blast...,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,Tr_tweet_5,negative,1.0000,Can't Tell,1.0000,Virgin America,jnardino,0.0,@VirginAmerica and it's a really big bad thing...,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [5]:
df2=pd.read_csv('test.csv')
df2.head()

,tweet_id,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,name,retweet_count,text,tweet_created,tweet_location,user_timezone
0,Test_tweet_1,0.6340,NaN,NaN,Virgin America,pilot,0,@VirginAmerica Really missed a prime opportuni...,2015-02-24 11:12:29 -0800,Los Angeles,Pacific Time (US & Canada)
1,Test_tweet_2,0.6769,NaN,0.0,Virgin America,idk_but_youtube,0,@VirginAmerica did you know that suicide is th...,2015-02-24 10:48:24 -0800,1/1 loner squad,Eastern Time (US & Canada)
2,Test_tweet_3,0.6451,NaN,NaN,Virgin America,mollanderson,0,@VirginAmerica @virginmedia I'm flying your #f...,2015-02-24 10:21:28 -0800,NaN,Eastern Time (US & Canada)
3,Test_tweet_4,1.0000,Bad Flight,1.0,Virgin America,heatherovieda,0,@VirginAmerica I flew from NYC to SFO last we...,2015-02-24 09:39:46 -0800,this place called NYC,Eastern Time (US & Canada)
4,Test_tweet_5,0.6578,NaN,0.0,Virgin America,KGervaise,0,@VirginAmerica I have an unused ticket but mov...,2015-02-23 16:20:38 -0800,Georgia,Pacific Time (US & Canada)

In [6]:
df.dtypes

tweet_id                         object
airline_sentiment                object
airline_sentiment_confidence    float64
negativereason                   object
negativereason_confidence       float64
airline                          object
name                             object
retweet_count                   float64
text                             object
tweet_created                    object
tweet_location                   object
user_timezone                    object
dtype: object

In [7]:
df.shape

(3339, 12)

In [8]:
df['airline'].value_counts()

United            2884
Virgin America     454
Name: airline, dtype: int64

In [9]:
df2.shape

(371, 11)

In [10]:
df.isnull().sum()

tweet_id                           0
airline_sentiment                  0
airline_sentiment_confidence       0
negativereason                  1205
negativereason_confidence        889
airline                            1
name                               1
retweet_count                      1
text                               1
tweet_created                     96
tweet_location                  1020
user_timezone                   1108
dtype: int64

In [11]:
df2.isnull().sum()

tweet_id                          0
airline_sentiment_confidence      0
negativereason                  117
negativereason_confidence        82
airline                           0
name                              0
retweet_count                     0
text                              0
tweet_created                    10
tweet_location                  111
user_timezone                   123
dtype: int64

In [12]:
df.drop(['name','tweet_location','user_timezone','tweet_created','negativereason'],axis=1,inplace=True)

df2.drop(['name','tweet_location','user_timezone','tweet_created','negativereason'],axis=1,inplace=True)

In [13]:
df.dropna(subset=['text'],inplace=True)

In [14]:
df['negativereason_confidence']=df['negativereason_confidence'].fillna(df['negativereason_confidence'].mean())
df2['negativereason_confidence']=df2['negativereason_confidence'].fillna(df2['negativereason_confidence'].mean())

In [15]:
df.isnull().sum()

tweet_id                        0
airline_sentiment               0
airline_sentiment_confidence    0
negativereason_confidence       0
airline                         0
retweet_count                   0
text                            0
dtype: int64

In [16]:
df2.isnull().sum()

tweet_id                        0
airline_sentiment_confidence    0
negativereason_confidence       0
airline                         0
retweet_count                   0
text                            0
dtype: int64

In [17]:
import re

In [18]:
if type(df['text']) is str:
        df['text'] = df['text'].lower()
        
        
if type(df2['text']) is str:
        df2['text'] = df2['text'].lower()

In [19]:
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from string import punctuation
import string
def clean_text(text):
    
    ## Remove puncuation
    text = text.translate(string.punctuation)
    
    ## Convert words to lower case and split them
    text = text.lower().split()
    
    ## Remove stop words
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops and len(w) >= 3]
    
    text = " ".join(text)
    ## Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    ## Stemming
    text = text.split()
    stemmer = SnowballStemmer('english')
    stemmed_words = [stemmer.stem(word) for word in text]
    text = " ".join(stemmed_words)
    return text

df['text']=df['text'].apply(clean_text)
df2['text']=df2['text'].apply(clean_text)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dutta\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
df['airline_sentiment'].value_counts()

negative    2134
neutral      679
positive     525
Name: airline_sentiment, dtype: int64

In [21]:
from sklearn.utils import resample

df_majority = df[df.airline_sentiment=="negative"]
df_minority_1 = df[df.airline_sentiment=="neutral"]
df_minority_2 = df[df.airline_sentiment=="positive"]

In [22]:
df_minority_1_upsampled = resample(df_minority_1, 
                                 replace=True,     # sample with replacement
                                 n_samples=2134,    # to match majority class
                                 random_state=50) 


df_minority_2_upsampled = resample(df_minority_2, 
                                 replace=True,     # sample with replacement
                                 n_samples=2134,    # to match majority class
                                 random_state=50)

In [23]:
df = pd.concat([df_majority, df_minority_1_upsampled,df_minority_2_upsampled])

In [24]:
df['airline_sentiment'].value_counts()

neutral     2134
positive    2134
negative    2134
Name: airline_sentiment, dtype: int64

In [25]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason_confidence,airline,retweet_count,text
3,Tr_tweet_4,negative,1.0000,0.7033,Virgin America,0.0,virginamerica realli aggress blast obnoxi ente...
4,Tr_tweet_5,negative,1.0000,1.0000,Virgin America,0.0,virginamerica realli big bad thing
5,Tr_tweet_6,negative,1.0000,0.6842,Virgin America,0.0,virginamerica serious would pay 30 flight seat...
12,Tr_tweet_13,negative,0.6842,0.3684,Virgin America,0.0,virginamerica sfo - pdx schedul still mia
16,Tr_tweet_17,negative,0.6705,0.3614,Virgin America,0.0,virginamerica first fare may three time carrie...

In [26]:
## No. of words in the text ##
df["num_words"] = df["text"].apply(lambda x: len(str(x).split()))
df2["num_words"] = df2["text"].apply(lambda x: len(str(x).split()))

In [27]:
## Number of unique words in the text ##
df["num_unique_words"] = df["text"].apply(lambda x: len(set(str(x).split())))
df2["num_unique_words"] = df2["text"].apply(lambda x: len(set(str(x).split())))

In [28]:
## Number of characters in the text ##
df["num_chars"] = df["text"].apply(lambda x: len(str(x)))
df2["num_chars"] = df2["text"].apply(lambda x: len(str(x)))

In [29]:
## Number of stopwords in the text ##
from nltk.corpus import stopwords

eng_stopwords = set(stopwords.words("english"))

df["num_stopwords"] = df["text"].apply(lambda x: len([w for w in str(x).lower().split() if w in eng_stopwords]))
df2["num_stopwords"] = df2["text"].apply(lambda x: len([w for w in str(x).lower().split() if w in eng_stopwords]))

In [30]:
## Number of punctuations in the text ##
import string

df["num_punctuations"] =df['text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]) )
df2["num_punctuations"] =df2['text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]) )

In [31]:
## Number of title case words in the text ##
df["num_words_upper"] = df["text"].apply(lambda x: len([w for w in str(x).split() if w.isupper()]))
df2["num_words_upper"] = df2["text"].apply(lambda x: len([w for w in str(x).split() if w.isupper()]))

In [32]:
## Number of title case words in the text ##
df["num_words_title"] = df["text"].apply(lambda x: len([w for w in str(x).split() if w.istitle()]))
df2["num_words_title"] = df2["text"].apply(lambda x: len([w for w in str(x).split() if w.istitle()]))

In [33]:
## Average length of the words in the text ##
df["mean_word_len"] = df["text"].apply(lambda x: np.mean([len(w) for w in str(x).split()]))
df2["mean_word_len"] = df2["text"].apply(lambda x: np.mean([len(w) for w in str(x).split()]))

In [34]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason_confidence,airline,retweet_count,text,num_words,num_unique_words,num_chars,num_stopwords,num_punctuations,num_words_upper,num_words_title,mean_word_len
3,Tr_tweet_4,negative,1.0000,0.7033,Virgin America,0.0,virginamerica realli aggress blast obnoxi ente...,11,11,81,0,1,0,0,6.454545
4,Tr_tweet_5,negative,1.0000,1.0000,Virgin America,0.0,virginamerica realli big bad thing,5,5,34,0,0,0,0,6.000000
5,Tr_tweet_6,negative,1.0000,0.6842,Virgin America,0.0,virginamerica serious would pay 30 flight seat...,14,14,77,1,1,0,0,4.571429
12,Tr_tweet_13,negative,0.6842,0.3684,Virgin America,0.0,virginamerica sfo - pdx schedul still mia,7,7,41,0,1,0,0,5.000000
16,Tr_tweet_17,negative,0.6705,0.3614,Virgin America,0.0,virginamerica first fare may three time carrie...,10,10,65,0,0,0,0,5.600000

In [35]:
for i in df.columns:
    print(i,' ',df[i].nunique())

tweet_id   3298
airline_sentiment   3
airline_sentiment_confidence   516
negativereason_confidence   730
airline   2
retweet_count   5
text   3265
num_words   29
num_unique_words   23
num_chars   118
num_stopwords   8
num_punctuations   11
num_words_upper   1
num_words_title   1
mean_word_len   406

In [36]:
df.drop(['num_words','num_unique_words','num_chars','num_stopwords','num_punctuations','num_words_upper','num_words_title','mean_word_len'],axis=1,inplace=True)

df2.drop(['num_words','num_unique_words','num_chars','num_stopwords','num_punctuations','num_words_upper','num_words_title','mean_word_len'],axis=1,inplace=True)

In [37]:
y=df['airline_sentiment']

df.drop('airline_sentiment',axis=1,inplace=True)

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [40]:
texts_train=df['text'].astype(str)
texts_test=df2['text'].astype(str)

In [41]:
word_vectorizer = TfidfVectorizer(
    sublinear_tf=True,
    strip_accents='unicode',
    analyzer='word',
    token_pattern=r'\w{1,}',
    stop_words='english',
    ngram_range=(1, 1),
    max_features=5000)
full_tfidf_word=word_vectorizer.fit_transform(df['text'].values.tolist() + df2['text'].values.tolist())
train_tfidf_word = word_vectorizer.transform(df['text'].values.tolist())
test_tfidf_word = word_vectorizer.transform(df2['text'].values.tolist())

In [42]:
df=df.reset_index()
df2=df2.reset_index()

In [43]:
from sklearn.decomposition import TruncatedSVD

n_comp = 20
svd_obj = TruncatedSVD(n_components=n_comp, algorithm='arpack')
svd_obj.fit(full_tfidf_word)
train_svd_word = pd.DataFrame(svd_obj.transform(train_tfidf_word))
test_svd_word = pd.DataFrame(svd_obj.transform(test_tfidf_word))
    
train_svd_word.columns = ['svd_word_'+str(i) for i in range(n_comp)]
test_svd_word.columns = ['svd_word_'+str(i) for i in range(n_comp)]
df = pd.concat([df, train_svd_word], axis=1)
df2 = pd.concat([df2, test_svd_word], axis=1)
del full_tfidf_word, train_tfidf_word, test_tfidf_word, train_svd_word, test_svd_word

In [44]:
df.head(1)

,index,tweet_id,airline_sentiment_confidence,negativereason_confidence,airline,retweet_count,text,svd_word_0,svd_word_1,svd_word_2,...,svd_word_10,svd_word_11,svd_word_12,svd_word_13,svd_word_14,svd_word_15,svd_word_16,svd_word_17,svd_word_18,svd_word_19
0,3,Tr_tweet_4,1.0,0.7033,Virgin America,0.0,virginamerica realli aggress blast obnoxi ente...,0.021811,0.068515,0.097654,...,-0.022569,0.034305,-0.006985,0.041204,-0.107969,0.083326,0.016668,0.014023,-0.029672,-0.031776

In [45]:
df2.head(1)

,index,tweet_id,airline_sentiment_confidence,negativereason_confidence,airline,retweet_count,text,svd_word_0,svd_word_1,svd_word_2,...,svd_word_10,svd_word_11,svd_word_12,svd_word_13,svd_word_14,svd_word_15,svd_word_16,svd_word_17,svd_word_18,svd_word_19
0,0,Test_tweet_1,0.634,0.651909,Virgin America,0,virginamerica realli miss prime opportun men w...,0.021686,0.080809,0.10867,...,-0.01339,0.007645,-0.018556,0.005607,-0.012101,-0.000568,0.007777,0.001092,0.017618,-0.002198

In [46]:
train=df.drop(['index','text','tweet_id'],axis=1)
test=df2.drop(['index','text','tweet_id'],axis=1)

In [47]:
airline_map = {'Virgin America':1, 'United':2}

train['airline'] = train['airline'].map(airline_map)
test['airline'] = test['airline'].map(airline_map)

In [48]:
import lightgbm as lgb

lgb=lgb.LGBMClassifier()

lgb.fit(train,y)
pred=lgb.predict(test)

In [49]:
df2['pred']=pred

In [50]:
df2.pred.value_counts()

negative    336
neutral      31
positive      4
Name: pred, dtype: int64

In [51]:
df2.ix[df2['negativereason_confidence']<0.5]['pred'].value_counts()

C:\Users\dutta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

negative    43
neutral     31
positive     4
Name: pred, dtype: int64

In [52]:
submissions=pd.DataFrame(columns=['tweet_id', 'airline_sentiment'])
submissions['tweet_id']=df2['tweet_id']
submissions['airline_sentiment']=pred
submissions.to_csv('tweet.csv', index=False)